camera/*
.DS_Store
.vscode/
cv/__pycache__/*
imgs/.DS_Store
notebooks/.ipynb_checkpoints/*
*.jpg
Spot1/*
.idea/
*.zip
imgs/*
ColorFilter Testing/
*__pycache__/
*.mp4
cv/model_tf*
cv/checkpoint
.ipynb_checkpoints

